{% extends 'base.html' %}

{% block title %}Add Post{% endblock %}

{% block content %}

<h1>Add Post for {{ user.first_name }} {{ user.last_name }} </h1>

<form method="POST">

  <div>
    <label for="title">Title</label>
    <div>
      <input class="form-control" id="title" name="title">
    </div>
  </div>

  <div>
    <label class="form-control" for="content">Content</label>
    <div>
      <textarea class="form-control" id="content" name="content" ></textarea>
    </div>
  </div>

  <div class="form-group row">
    <div class="ml-auto mr-3">
      <a href="/users/{{ user.id }}" class="btn btn-info">Cancel</a>
      <button type="submit" class="btn btn-success">Add</button>
    </div>
  </div>

</form>

{% endblock %}